.content .right .main{padding: 40px 20px 10px 20px;}
.content .right .main img{width: 560px;height: 308px;float: left;padding-right: 26px;}
.content .right .main p{font-family: "宋体";font-size: 14px;color: #666666;text-indent:2em;line-height: 24px;padding-bottom:20px ;}
