.content .right .main{padding: 40px 20px 0px 20px;}

.content .main h2{font-family: "微软雅黑";font-size: 24px;color: 24px;text-align: center;color: #333333;font-weight: normal;padding-bottom:46px ;}
.content .main h3{font-family: "宋体";font-size: 14px;color: #333333;text-indent: 2em;}
.content .main p{font-family: "宋体";font-size: 14px;color: #666666;margin: 10px 0px;text-indent: 2em;line-height: 24px;}
